
 div li a{
    padding-left: 30px;
    color: black;
}

#img_b {
    background-image: url("../../assets/image-banner.png");
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }


 