.bot1{

    background-color:#92dce5;
    color: white;
     font-size: small;
    font-family: 'Open Sans', sans-serif;
    border-radius: 0;
   
}

.bot2{

    background-color: #ef6461;
    color: white;
     font-size: small;
    font-family: 'Open Sans', sans-serif;
    border-radius: 0;
   
}