.bot1{

    background-color: lightblue;
    color: white;
  
   font-size: small;
   font-family: 'Open Sans', sans-serif;
   
}

.bot2{

    background-color: lightsalmon;
    color: white;
  
   font-size: small;
   font-family: 'Open Sans', sans-serif;
   
}